
.navbar{
    background: $header-background;
    box-shadow: 0px 9px 24px $boxshadow-blur15;
    background-color: $header-background !important;
    .container{
        padding: 0;

        .navbar-brand{
            font-weight: 700;
            font-size: $heading;
            text-transform: uppercase;
        }
    
        .nav-links{
            .nav{
                .nav-link{
                    font-weight: 400;
                    font-size: $regular;
                    color: $font-color;
                }
        
            } 
        }
    }
    
       
}