
.header{
    position: absolute;

}

.navbar{
    height: 63px;
    background: $header-background;
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif; // move to common?
    
    .navbar-brand{
        font-weight: 700;
        font-size: $heading;
    }

    .nav-links{
        margin-left: auto;
        .nav{
            // line-height: 22px;
            .nav-link{
                font-weight: 400;
                font-size: $regular;
                color: $font-color;
            }
    
        } 
    }
       
}