
.wrapper{
    position: relative;
    width: 2500px;
    height: 574px;
    // background: red;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    z-index: 100;

    .projects-container{
        width: inherit;
        height: inherit;
        // background: chartreuse;
        background: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        position: absolute;
        top: 0;
        left: 0;
    
        .background__strip{
            position: absolute;
            left: 0;
            width: 1544px;
            height: 210px;
            background: linear-gradient(180deg, #25293E 0%, #38394F 100%);
            border-radius: 10px;
            overflow-x: hidden;
    
            .align__left{
                width: 110px;
                height: inherit;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center; 
                .vertical_text{
                    font-family: "Open Sans", condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    color: #FFFFFF;
                    transform: rotate(90deg);
                    text-transform: uppercase;
                }
            }
            
        }
    }

    .overlay{
        width: inherit;
        height: 374px;
        background: transparent;
        // background: blue;
        position: absolute;
        left: 10%;
        z-index: 10;
        display: flex;
        justify-content: flex-start;

        .project-field{
            width: 560px;
            height: 346px;
            // background: cornflowerblue;
            margin-right: 10px;
            background: url(../public/pexels-fauxels-3184327.jpg), #FFFFFF;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
    }
}

.view-btns{
    // width: 567px;
    // height: 100px;
    // align-self: flex-end;
    margin: -20px auto;
    display: flex;
    justify-content: center;
    align-items: center; 

    .btn{
        max-width: 173px;
        height: 51px;
        border: 1px solid $btn-color;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        color: $btn-color;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        text-transform: capitalize;
        margin: 0 10.5px;
        background: transparent;
        transition: background 0.3s ease-in-out;
        &:hover{
            background: $btn-color-hover;
            color: white;
        }
    }
}


/* large devices */
@media screen and (max-width: 992px) {
   .wrapper{
       .projects-container{
           .background__strip{
               margin-left: -40px;
               .align__left{
                   .vertical_text{
                    font-weight: 600;
                   }
               }
           }
       }
       .overlay{
           .project-field{
                width: 470px;
           }
       }
   }
}

/* medium devices */
@media screen and (max-width: 762px){
    .wrapper{
       .projects-container{
           .background__strip{
                margin-left: -20px;
               .align__left{
                   .vertical_text{
                        padding-top: 40px;
                   }
               }
           }
       }
       .overlay{
            .project-field{
                width: 400px;
                height: 300px;
            }
        }
   }
   .view-btns{
        margin-top: -50px;
   }
}

/* small devices */
@media screen and (max-width: 576px){
    .wrapper{
       .projects-container{
           .background__strip{
               margin-top: -100px;
                margin-left: 30px;
                height: 150px;
           }
       }
       .overlay{
           left: 5%;
           .project-field{
                width: 330px;
                height: 246px;
           }
       }
   }
   .view-btns{
       flex-direction: column;
       margin-top: -150px;
       .btn{
            margin-bottom: 20px; 
            min-height: 51px;
       }
   }
}


/* very small devices */
@media screen and (max-width: 374px){
    .wrapper{
        .projects-container{
            .background__strip{
                // display: none;
                margin-top: -160px;
                margin-left: 5px;
                height: 140px;
            }
        }
        .overlay{
            margin-left: -50px;
            .project-field{
                 width: 300px;
                 height: 200px;
            }
        }
    }
    .view-btns{
        margin-top: -200px;
        .btn{
             margin-bottom: 20px; 
             min-height: 51px;
        }
    }
}