/*******COLORS*********/

$font-color: #000000;
$header-background: #FFFFFF;
$font-light: #7C828D;
$font-light2: #c5cad3;

/*******SIZES*********/ 
$regular: 16px;
$heading: 24px;
$smallheading: 18px;
$small-font: 14px;