/*******COLORS*********/

$font-color: #000000;
$header-background: #FFFFFF;
$footer-background: #38394F;
$font-light: #7C828D;
$font-light2: #c5cad3;
$btn-color: #7E53FD;
$boxshadow-blur25: rgba(0, 0, 0, 0.25);
$boxshadow-blur15: rgba(0, 0, 0, 0.15);
$boxshadow-offset: 0 vw(12px) vw(42px) vw(1px);

/*******SIZES*********/ 
$regular: 16px;
$heading: 24px;
$smallheading: 18px;
$small-font: 14px;
$tiny-font: 12px;